{% autoescape off %}

Hi {{ member.first_name }},

Please be informed that {{ user }} has added you to a contribution platform as {{ member.organisation }}.
Kindly verify the details below or reach out to the Administrator of the {{ member.organisation }} who recently added you.

Admin Name: {{ user }}
Email: {{ user.email }}
Contribution Organisation: {{ member.organisation }}
Phone Number: {{ user.phone_number }}


Ignore this email if {{ user }} (Admin) never initiated it or
Use the below link to view the website/platform initiated from.

Link:
http://{{ domain }}{% url 'login' %}
{% endautoescape %}