{% extends "crispy_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add Contribution organisation{% endblock title %}
{% block content %}
    <div class="content-section">
        <form method="post" enctype="multipart/form-data">
{#        <form method="POST">#}
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add a Contribution Organisation</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <a class="btn btn-outline-info" href="{% url 'contribution_options' %}">Cancel</a>
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                View client list? <a class="ml-2" href="#">View</a>
            </small>
        </div>
    </div>
{% endblock content %}
