{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block content %}
  <h3>
    This is a Payment Record Portal developed for payment record keeping, record managements as well as involving members. This system allows the users to create an account, manage payment records, send notification to contributors and generating reports in different formats with the available functionalities provided in the homepage. It is still under development especially the UI. We humbly promise the users to exercise patient with the system as we do our best to improve the functionalities as well as the user experience. Thank You!
  </h3>
  <p class="login-card-footer-text">Don't you think we can improve the functionalities? <a href="#!" class="nav-item nav-tabs-justified">Support Us</a></p>

    <nav class="login-card-footer-nav">
        <a href="#!">Terms of use.</a>
        <a href="#!">Privacy policy</a>
    </nav>
{% endblock %}
